
hashing/Makefile

hashing/cmake_install.cmake

hashing/CMakeCache.txt

hashing/AllianceDB.cbp

hashing/cmake-build-debug-system/*

sorting/cmake-build-debug-system/*

sorting/cmake-build-release/*
sorting.zip

hashing/.idea/*
sorting/.idea/*

*.o

cmake-build-*/

.clion*

venv/
