
hashing/Makefile
sorting/Makefile

hashing/cmake_install.cmake
sorting/cmake_install.cmake

hashing/CMakeCache.txt
sorting/CMakeCache.txt

hashing/AllianceDB.cbp
sorting/AllianceDB.cbp

hashing/cmake-build-debug-system/*

sorting/cmake-build-debug-system/*

sorting/cmake-build-release/*
sorting.zip

hashing/.idea/*
sorting/.idea/*
doc
*.o

cmake-build-*/

.clion*

venv/
build/
*build/
com_scripts
commit
.idea/
.vscode/
./DS_Store
