
hashing/Makefile
sorting/Makefile

hashing/cmake_install.cmake
sorting/cmake_install.cmake
hashing/scripts/*.py


hashing/CMakeCache.txt
sorting/CMakeCache.txt

hashing/AllianceDB.cbp
sorting/AllianceDB.cbp

hashing/cmake-build-debug-system/*

sorting/cmake-build-debug-system/*

sorting/cmake-build-release/*
sorting.zip

hashing/.idea/*
sorting/.idea/*

*.o

cmake-build-*/

.clion*

venv/

.idea/
